#passwordModal {
}

#passwordModal .modal-dialog {
    margin-top: 15%;
    min-width: 300px;


}
@media (min-width: 1200px) {
    #passwordModal .modal-dialog {
        margin-top: 5%;
    }
}

#passwordModal .modal-dialog .modal-content {
    padding: 30px 20px;
    border-radius: 0;
}

#passwordModal .modal-dialog .modal-content .modal-header {
    border: none;
}

#passwordModal .modal-dialog .modal-content .modal-body {

}

#passwordModal .modal-dialog .modal-content .modal-body .form-group {
    margin-bottom: 10px;
}

#passwordModal .modal-dialog .modal-content .modal-body .form-group label {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: 400;
}

#passwordModal .modal-dialog .modal-content .modal-body .form-group label small {
    color: #999;
    font-weight: 400;
    font-size: 100%;
}

#passwordModal .modal-dialog .modal-content .modal-body .form-group input {
    height: 40px;
    border-radius: 0;
}

#passwordModal .modal-dialog .modal-content .modal-footer {
    border: none;
}

#passwordModal .modal-dialog .modal-content .modal-footer button {
    border-radius: 0;
    padding: 10px 60px;
    font-size: 15px;
    text-align: center;
}


