<div id="footer">
    <div class="container">
        <div class="row footer-top">
            <div class="col-sm-4 col-lg-4" id="footer-left">
                <div>
                    <h4>联系方式</h4>
                </div>
                <div>
                    <ul class="list-unstyled">
                        <li><span>个人微信号：</span><a href="">Liyan_1987</a></li>
                        <li><span>邮箱：</span><a href="">Liyan@.163.com</a></li>
                        <li><span>微博：</span><a href="">新浪微博@李艳</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-8  col-lg-8" id="footer-right">
                <div id="footer-right-header">
                    <ul class="list-inline">
                        <li><a href="/">主页</a></li>
                        <li><a href="">文章推荐</a></li>
                        <li><a href="/personalCenter">个人中心</a></li>
                    </ul>
                </div>
                <div id="footer-right-body">
                    <div class="row">
                        <div class="col-md-7 hidden-xs">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="/images/654513.jpg" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h5 class="media-heading">Kaolive品牌设计过程大揭秘</h5>
                                    <h5 class="media-heading">|BRAND DESIGN</h5>
                                    <p>2018-01-08 09:43:11 网络</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <address>
                                <p>Copyright &copy; 2016-2017 融智教育 www.irzedu.com 版权所有 京ICP备17021661号 Powered by
                                    LuterCMS</p>

                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>