<div id="header">
    <div class="container">
        <div class="row">
            <h2 class="col-md-6 text-right">成功者绝不放弃</h2>
            <h2 class="col-md-6 text-left">放弃者绝不会成功</h2>
        </div>
    </div>
</div>